@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: light;
 }
 
.App {
  text-align: center;
  background-color: rgb(32, 32, 48);
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Quicksand';
  font-size: 1.1em;
  overflow: hidden;
}

.Home {
  width: 50vw;
  text-align: center;
  display: flex;
  height: 100%;
  margin: auto;
}

.Title {
  width: 30vh;
}

.Title-Name {
  font-size: 3em;
  margin-bottom: 10vh;
}

.Subtitle {
  font-size: 2em;
  margin-bottom: 1.5em;
}  

.Section-Title {
  font-size: 2em;
}  

.Section-Subtitle {
  font-size: 1.2em;
  font-style: italic;
}  

.Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10vh;
  vertical-align: middle;
}  

.Nav {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 10vh;
  text-align: center;
  margin-top: 1em;
}  

.Nav-Item {
  margin: 0.15em;
}  

.Content {
  width: 50vw;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 50px;
}

.Content-Title {
  width: 30vw;
  margin-top: 15vh;
}

.Content-About {
  overflow-y: auto;
  margin-top: 15vh;
  margin-left: 5em;
  padding-right: 5em;
}

.Experience-Title {
  font-size: 1.6em;
  margin-top: 1.0em;
}

.Experience-Title-2 {
  font-size: 1.3em;
  margin-top: 1.0em;
}

.Education-Title {
  /* margin-top: 1em; */
}

p {
  color: rgb(190, 189, 189);
}

.List-Item {
  margin-bottom: 1.5em;
  color: rgb(190, 189, 189);
}

li {
  color: rgb(190, 189, 189);
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}