@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url("./fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: light;
 }
 
.App {
  text-align: center;
  background-color: rgb(31, 31, 31);
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Quicksand';
  font-size: 1.4em;
  overflow: hidden;
}

.Home {
  width: 50vw;
  text-align: center;
  display: flex;
  height: 100%;
  margin: auto;
}

.Title {
  width: 25vh;
}

.Title-Name {
  font-size: 3em;
}

.Subtitle {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}  

.Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}  

.Nav {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 30px;
  text-align: center;
}  

.Nav-Item {
  margin: 0.15em;
}  

.Content {
  width: 50vw;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 30px;
}

.Content-Title {
  width: 25vw;
}

.Content-About {
  overflow-y: auto;
}

li {
  margin-top: 1.2em;
  margin-bottom: 1em;
}